body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    color: whitesmoke;
}

.startButton {
    align-content: center;
}

.container {
    color: darkgray;
}